.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.log {
    max-height: 450px;
    overflow-y: scroll;
}

.videoWrapper {
    width: 100%;
    overflow:hidden;
    display:block;
    height: 480px;
}