.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  max-width: calc(312px*3);
}

.videoWrapper {
  width: 100%;
  overflow:hidden;
  display:block;
  height: 240px;
  text-align: center;
}